{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}

    Acerca de Mí

{% endblock titulo %}

{% block contenido %}

<table class="table">
    
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Florencia Arevalo</th>
            
          </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row"></th>
              <td>Soy Licenciada en Economía, Especialista en Finanzas y hace algunos años estoy interesada en el mundo IT. Hice algunos cursos iniciales de SQL y Python, y en Coderhouse puntualmente, los de Data Analyst y Data Scientist.
                Tengo 31 años y considero fundamental incorporar herramientas en el aprendizaje. A partir de esta página web
                intenté unir los diferentes temas que me resultan de interés, pudiendo ser mucho más rica a partir de contribuciones futuras.
              </td>
              
            </tr>

</table>

{% endblock contenido %}