{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}

    Acciones

{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Acciones</h2></td>
        <td>
            <a
            href="{% url 'create_acciones' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>

            <a
            href="{% url 'buscar_acciones' %}"
            class="btn btn-secundary"
            ><i class="bi bi-search" title="Search Record">Search </i>
            </a>


        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Nomenclatura</th>
            <th>Nominales</th>
            <th>Fecha de Inicio</th>

            
            
            
        </tr>
    </thead>
    <tbody>
    {% for accion in acciones_list %}
    <tr>
        <td>{{ accion.id }}</td>
        <td>{{ accion.nombre }}</td>
        <td>{{ accion.nomenclatura }}</td>
        <td>{{ accion.nominales }}</td>
        <td>{{ accion.fecha_inicio }}</td>
        

            <td>
            <div id="accion-details">
                    
            <p>
                <a 
                href="{% url 'ver_grafico_a' nomenclatura=accion.nomenclatura pk=accion.id %}" 
                class="btn btn-primary">Ver Gráfico</a></p>
            </div>
        
            <a
              href="{% url 'update_acciones' accion.id %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_acciones' accion.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
               
          </td>        
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}