{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}

    Home

{% endblock titulo %}

{% block contenido %}

<table class="table">
    
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Bienvenidos!</th>
            
          </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row"></th>
              <td>La siguiente página tiene por objetivo que los integrantes de la empresa, del área de financiamiento, puedan acceder a la información sobre las inversiones que existen al momento. Podrán así mismo, navegar por los distintos activos, modificando y editando lo que consideren oportuno. 
              </td>
              
            </tr>

</table>

{% endblock contenido %}